$bgColorLight: rgb(251, 251, 251);
$bgCardColor: #fff;
$cardBorder: 2px solid lightgrey;
$cardBorderRadius: 10px;
$darkfont: darkslategrey;
$lightfont: grey;


// General
* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

body {
	background-color: $bgColorLight;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.avatar {
	border-radius: 100%;
	display: block;
}

//Fonts
h1,
h2,
h3,
h4 {
	font-weight: 600;
	color: $darkfont;
}

h1 {
	flex-basis: 90%;
	text-transform: uppercase;
}

p {
	font-weight: 400;
	line-height: 10px;
	color: $lightfont;
	font-size: 14px;
}

h3 {
	margin: 2px;
	font-size: 20px;
}

h4 {
	text-transform: none;
}

button {
	text-transform: capitalize;
	padding: 1em;
	font-size: 16px;
	color: white;
	background-color: lightblue;
	border-radius: 10px;
	border: $cardBorder;
}

//User Cards

.user {
	border: $cardBorder;
	border-radius: $cardBorderRadius;
	height: 182px;
	// width: 406px;
	min-width: 396px;
	margin: 1em;
	background-color: $bgCardColor;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	.avatar {
		float: left;
		margin-right: 1.5em;
		height: 123px;
		margin-left: 1.5em;
	}
	.user-info {
		&.snippet {
			display: block;
			float: right;
			width: 59%;
			text-align: left;
			background-color: $bgCardColor;
			> .phone,
			> .address,
			> .dob,
			> .username,
			hr {
				display: none;
			}
		}
	}
}



.user-modal {
	display: none;
	.avatar {
		height: 172px;
		margin: 1em auto;
	}
	.user-info {
		&.snippet {
			display: block;
			text-align: center;
			background-color: $bgCardColor;
			line-height: 2em;
			p {
				font-size: 16px;
				font-weight: 300;
				line-height: 1.5em;
			}
			> .phone,
			> .address,
			> .username,
			> .dob {
				display: block;
			}
			hr {
				border: none;
				border-bottom: 1px solid lightgrey;
				margin: 2em 1em;
				min-width: 300px;

			}
		}
	}
}




// Modal window
.featherlight-content {
	border: $cardBorder;
	border-radius: $cardBorderRadius;
	padding: 1.7em;
	overflow: hidden
}

.featherlight .featherlight-close-icon {
	font-size: 2em;
	line-height: 30px;
	width: 30px;
	color: darkgray;
}

.featherlight-next,
.featherlight-previous {
	span {
		color: $lightfont;
	}
}
